<!DOCTYPE html>
<html>
	<head>
		<title>Dwonate</title>
		<meata charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<!--<style>
		body {font: 14px / 1.5em 'Gloria Hallelujah', cursive;}
        .fontFlake{
                position:absolute;
                top:-50px;
                left:0px;
                z-index:10;
                position:block;
        }
        </style>-->
		<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
	</head>

	<body>
		<p>placeholder</p>
		<h3>You have ${{ balance }} in your account</h3>

	</body>
</html>