<!DOCTYPE html>
<html>
	<head>
		<title>Dwonate</title>
		<meata charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>

	</head>

	<body>
		<h1 id="title"><a href="/" class="dwolla_title">Dwonate</a></h1>
		<h3 class="sub">

			Introducing new platform for dynamic <i>Dwonation</i>

		</h3>
		<img class='arm_wave' src='static/fhdskjfdksj.png' /> 
	</body>

</html>